@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap');


button {
	all: unset;
	background-color: #008037;
}

a {
	text-decoration: none;
	color: inherit;
}
p {
	margin-bottom: 0px;
}

ul {
	padding-left: 0px;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f1f1f1a1;
	padding: 0.5rem;
}

header > a img {
	width: 100%;
}

header > a {
	min-width: 8rem;
	max-width: 9rem;
	width: 20%;
}

header .linksHeader {
	display: flex;
	gap: 1.6rem;
	font-weight: 500;
}

header .linksHeader a {
	color: #008037;
}

header .linksHeader a:hover {
	color: #000;
	transform: scale(1.1);
}

header button {
	color: #ffffff;
	padding: 0.5rem 1rem;
	border-radius: 1rem;
}

header button:hover {
	opacity: 80%;
	transition: 0.2s;
}

.listaDeUsuario {
	display: flex;
	flex-direction: column;
	gap: 5px;
	margin-top: 10px;

	justify-content: space-between;
}
.liStyle {
	background-color: #1bcc97;
	padding: 0.6rem;
	border-radius: 12px;
	color: aliceblue;
	font-size: 1.3rem;
	font-weight: 400;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.liStyle > img {
	width: 4.5rem;
	border: 2px solid white;
	border-radius: 50%;
}

.warning {
	color: rgb(255, 63, 63);
}

@media (max-width: 768px) {
	header {
		flex-direction: column;
		height: 100%;
		gap: 0.3rem;
	}
	.linksHeader {
		display: flex;
		flex-direction: column;
	}
	.linksHeader > a {
		text-align: center;
		font-size: 0.9rem;
	}
	header > button {
		padding: 0.3rem 0.7rem;
		font-size: 1rem;
	}
}
