input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;
	padding: 1.3rem 0;
}

.title {
	width: 80%;
}
.title > h1 {
	color: #109c62;
	font-size: 1.9rem;
}

.container {
	width: 80%;
	background-color: #f1f1f1;

	border-radius: 3.5rem;

	border: 2px solid #109c62;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin: 0 auto;
}

.top-content {
	display: flex;
	justify-content: space-between;
}

.input-form {
	display: flex;
	flex-direction: column;
	gap: 7px;
	width: 42%;
}

.input-form > label {
	color: #109c62;
}

.input-ptrn {
	padding: 0.7rem;
	border-radius: 10px;
	border: 1px solid #109c62;
	width: 100%;
}
.input-ptrn:focus {
	outline: none;
}
/* 
.mid-content {
	display: flex;
} */

.left-content {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.left-form {
	width: 85%;
}
.right-form {
	width: 100%;
}

.mid-content {
	display: flex;
}

.right-content {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.obs {
	border: 1px solid #109c62;
	border-width: 2px;
	border-radius: 50px;
	height: 100%;
	text-align: left;
	padding: 1.5rem;
}

.right-form > label {
	text-align: center;
}

.bottom-content {
	display: flex;
	justify-content: center;
}
.submit-btn {
	width: 40%;
	padding: 0.67rem;
	cursor: pointer;
	background-color: #109c62;
	color: white;
	border: none;
	border-radius: 10px;
	transition: all linear 0.3s;
}
.submit-btn:hover {
	background-color: #2b4d3f;
	font-weight: bold;
}
