.listaDeUsuario {
	display: flex;
	flex-direction: column;
	gap: 5px;
	margin-top: 10px;

	justify-content: space-between;
}
.liStyle {
	background-color: #1bcc97;
	padding: 0.6rem;
	border-radius: 12px;
	color: aliceblue;
	font-size: 1.3rem;
	font-weight: 400;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.liStyle > img {
	width: 4.5rem;
	border: 2px solid white;
	border-radius: 50%;
}

.warning {
	color: rgb(255, 63, 63);
}

.content-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 100px;
}

form {
	width: 70%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

.card {
	border-radius: 10px;
}
.content-comment {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card-date {
	font-size: 12px;
}

.card-body {
	background: #198754;
	color: #ffffff;
	display: flex;
	align-items: center;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.div-icon {
	display: flex;
	padding: 10px;
	gap: 20px;
}

.icon-profile {
	font-size: 64px;
	cursor: pointer;
}

.icon-like,
.icon-deslike,
.icon-love {
	font-size: 24px;
	cursor: pointer;
}

.icon-like:hover {
	color: blue;
}

.icon-love:hover {
	color: red;
}

.icon-deslike:hover {
	color: darkorange;
}
.content-posts {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
	padding-left: 82px;
	padding-right: 82px;
	margin-top: 30px;
	margin-bottom: 60px;
}
