.container-form {
	display: flex;
	justify-content: center;
}

form {
	display: flex;
	flex-direction: column;
	margin-top: 50px;
	margin-bottom: 100px;
	width: 600px;
}

.form-input {
	display: flex;
	flex-direction: column;
	padding-top: 10px;
}
form h1 {
	font-size: 40px;
	color: #008037;
	margin-bottom: 10px;
	text-align: center;
}
form h2 {
	margin: 10px 0px;
	padding-left: 35px;
}
form label {
	font-size: 20px;
	color: #302e2e;
}
form input,
form select {
	margin-top: 6px;
	width: 400px;
	border-radius: 5px;
	padding: 10px 3px;
}

.form-style {
	display: flex;
	flex-direction: column;
	align-items: center;
}
form textarea {
	margin-top: 6px;
	width: 400px;
	height: 300px;
	border-radius: 5px;
	padding: 6px 3px;
}

form input[type='button'] {
	padding: 12px 30px;
	background-color: #109c62;
	border: none;
	text-align: center;
	color: white;
}

form input[type='button']:hover {
	background-color: #165a3e;
	cursor: pointer;
}
.footer-sup {
	display: flex;
	font-size: 20px;
	align-items: center;
	border-top: 1px solid green;
	border-bottom: 1px solid green;
	height: 200px;
}

.footer-sup img {
	width: 200px;
	margin-right: 100px;
}
.footer-sup h3 {
	font-size: 25px;
	color: #2b4d3f;
}

.footer-sup p {
	color: #3a8365;
	margin-top: 10px;
	padding-right: 15px;
}

.footer-inf {
	background-color: #109c62;
	height: 100%;
	padding: 50px 100px 100px 100px;
	display: flex;
	font-size: 20px;
	justify-content: space-around;
}
.footer-inf h3 {
	color: #f1f1f1;
	font-size: 30px;
	margin-bottom: 20px;
}

.footer-inf p {
	margin-top: 10px;
	color: #f1f1f1;
	background-color: #109c62;
}
.footer-inf a {
	text-decoration: none;
}
