.contato {
	padding: 3rem 0;
}

.contato h1 {
	font-size: 40px;
	color: #008037;
}

.contato h2 {
	color: #008037;
}

.contato p {
	font-size: 20px;
}

.contato ion-icon {
	font-size: 40px;
	transition: all linear 0.35s;
}

.container {
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.contato ion-icon:hover {
	color: #008037;
	cursor: pointer;
}
.contato span:nth-child(5) {
	font-size: 15px;
}

.contato .clinica span:nth-child(6) {
	font-size: 15px;
}

/* FORMULÁRIO */

.container-form {
	display: flex;
	justify-content: space-between;
	gap: 1.5rem;
}

.form-icon {
	display: flex;
	flex-direction: column;
}

.form-content {
	display: flex;
	flex-direction: column;
	justify-content: start;
	gap: 2rem;
}
.upper-content {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.bottom-content {
	display: flex;
	align-items: center;
	gap: 3px;
}
.plano {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 2rem;
}

@media (max-width: 768px) {
	.container-form {
		flex-direction: column;
	}
	h1 {
		font-size: 2rem;
	}
	h2 {
		font-size: 1.5rem;
	}
}
