.contato {
	font-family: 'Poppins', sans-seri;
	height: 800px;
	padding: 180px 0px 0px 200px;
}

.contato h1 {
	font-size: 40px;
	color: #008037;
}

.contato h2 {
	margin-bottom: 10px;
	color: #008037;
}
.contato .plano {
	margin-top: 50px;
	width: 406px;
}
.contato p {
	margin: 10px;
	font-size: 20px;
}

.contato ion-icon {
	margin-top: 10px;
	font-size: 40px;
	margin-left: 10px;
}

.contato ion-icon:hover {
	color: #008037;
	cursor: pointer;
}
.contato span:nth-child(5) {
	margin: 5px 0 0 -5px;
	font-size: 15px;
}

.contato .clinica {
	margin-top: 48px;
	margin-left: 30px;
}

.contato .clinica span:nth-child(6) {
	font-size: 15px;
	margin: 5px 0 0 -5px;
}

.contato .trabalhe {
	margin-top: 40px;
	padding: 10px 0;
}

.container-form {
	display: flex;
}
