.dashboard {
	width: 100%;
	display: flex;
	background-color: #d9d9d9;
	align-items: center;
	padding-bottom: 50px;
	padding-top: 30px;
}

.container {
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 0 auto;
	background-color: white;
	padding: 2.5rem;
	border-radius: 1rem;
}

.title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.user {
	background-color: #109c62;
	border-radius: 14px;
	color: white;
	font-weight: bold;
	font-size: 1.1rem;
	padding: 0.7rem;
	cursor: pointer;
}
.dash-content {
	width: 100%;
	border: none;
	margin-top: 20px;
	border-radius: 10px;
	/* background-color: blue; */
	gap: 10px;
	display: flex;
	flex-wrap: wrap;
}
.dash-content > .card {
	height: 289.98px;
	width: 326.39px;
	/* background-color: gray; */
	padding: 0.8rem;
	display: flex;
	flex-direction: column;
	gap: 13px;
	border: 2px solid rgba(0, 0, 0, 0.329);
	border-radius: 1rem;
}
.card > h3 {
	font-size: 1rem;
}

.ul-list {
	display: flex;
	flex-direction: column;
	gap: 1.8rem;
}

.list-item {
	background-color: #11cc66;
	font-size: 0.75rem;
	padding: 0.5rem 0.7rem;
	color: white;
	font-weight: bold;
	border-radius: 14px;
	display: flex;
	justify-content: space-around;
}
.img-card-container {
	height: 100%;
	width: 100%;
}
.img-card-container > img {
	width: 100%;
	height: 100%;
}
.results {
	transition: all linear 0.3s;
}
.results:hover {
	color: #032e1c;
}
